<!DOCTYPE HTML>

<html>
<head>
	<meta charset="utf-8" />
	<title>
		{{- .Site.Title }} 
		{{ if .Page.Title }} | {{ end }}
		{{ .Page.Title -}}
	</title>

	<link rel="stylesheet" href="{{ .Site.BaseURL }}style.css"></script>

	<script src="{{ .Site.BaseURL }}link-viewer.js" defer></script>
	<script src="{{ .Site.BaseURL }}note-nav.js" defer></script>
</head>
<body>
	{{ partial "docsmenu.html" . }}

	<nav>
		<ul id="note-nav-list">
		</ul>
	</nav>

	<main id="note">
		{{ block "main" . }}
		{{ end }}
	</main>


	<div id="linkviewer" class="linkviewer js-linkviewer--hidden"></div>
</body>
</html>
