<!DOCTYPE HTML>

<html>
<head>
	<meta charset="utf-8" />
	<title>
		{{- .Site.Title }} 
		{{ if .Page.Title }} | {{ end }}
		{{ .Page.Title -}}
	</title>

	<link rel="stylesheet" href="{{ .Site.BaseURL }}style.css"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

	<script src="{{ .Site.BaseURL }}link-viewer.js" defer></script>
	<script src="{{ .Site.BaseURL }}note-nav.js" defer></script>
	<script src="{{ .Site.BaseURL }}search.js" defer></script>
</head>
<body>
	<header class="top-header">
		<a class="logo" href="{{ .Site.BaseURL }}">{{- .Site.Title -}}</a>

		<button class="button-open-search js-button-open-search">
			<svg width="16" height="16" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M9.5 8.5L11.5 10.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M1.5 5.5C1.5 7.70915 3.29086 9.5 5.5 9.5C6.6065 9.5 7.60805 9.05075 8.3322 8.32465C9.05385 7.6011 9.5 6.60265 9.5 5.5C9.5 3.29086 7.70915 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>	
			Search
		</button>

		<div class="top-header__buttons">
			{{ if .Site.Param "contribute" }}
				<a class="button-contribute button" href={{ .Site.Param "contribute" }}>
					<svg xmlns="http://www.w3.org/2000/svg" 
						stroke-width="1.5" 
						viewBox="0 0 24 24" 
						fill="none" 
						color="#000000" 
					>
						<path 
							d="M16 22.0268V19.1568C16.0375 18.68 15.9731 18.2006 15.811 17.7506C15.6489 17.3006 15.3929 16.8902 15.06 16.5468C18.2 16.1968 21.5 15.0068 21.5 9.54679C21.4997 8.15062 20.9627 6.80799 20 5.79679C20.4558 4.5753 20.4236 3.22514 19.91 2.02679C19.91 2.02679 18.73 1.67679 16 3.50679C13.708 2.88561 11.292 2.88561 8.99999 3.50679C6.26999 1.67679 5.08999 2.02679 5.08999 2.02679C4.57636 3.22514 4.54413 4.5753 4.99999 5.79679C4.03011 6.81549 3.49251 8.17026 3.49999 9.57679C3.49999 14.9968 6.79998 16.1868 9.93998 16.5768C9.61098 16.9168 9.35725 17.3222 9.19529 17.7667C9.03334 18.2112 8.96679 18.6849 8.99999 19.1568V22.0268" 
							stroke-width="1.5" 
							stroke-linecap="round" 
							stroke-linejoin="round"
						/>
						<path 
							d="M9 20.0267C6 20.9999 3.5 20.0267 2 17.0267" 
							stroke-width="1.5" 
							stroke-linecap="round" 
							stroke-linejoin="round" 
						/>
					</svg>
					Contribute
				</a>
			{{ end }}
		</div>
	</header>

	<div class="wrapper">
		<aside class="docsnav">
			{{ partial "docsmenu.html" . }}
		</aside>

		<aside class="toc-container">
			<nav class="toc-navigation">
				<header class="toc-navigation-header">
					<h2 class="toc-navigation-title">Navigation</h2>
				</header>
				<ul id="toc" class="toc">
				</ul>
			</nav>
		</aside>

		<main id="note" class="note">
			{{ block "main" . }}
			{{ end }}
		</main>
	</div>

	<div class="search-box-shadow js-search-box js-search-box--hidden">
		<div class="search-box">
			<form id="search-form">
				<div class="search-bar">
					<svg width="16" height="16" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.5 8.5L11.5 10.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M1.5 5.5C1.5 7.70915 3.29086 9.5 5.5 9.5C6.6065 9.5 7.60805 9.05075 8.3322 8.32465C9.05385 7.6011 9.5 6.60265 9.5 5.5C9.5 3.29086 7.70915 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>	
					<input class="js-search-field search-bar__input" placeholder="Search" />
				</div>
			</form>

			<ul class="js-results-list js-results-list--hidden results-list">
				<li><p class="results-list__no-results">No results</p></li>
			</ul>
		</div>
	</div>

	<div id="linkviewer" class="linkviewer js-linkviewer--hidden"></div>
</body>
</html>
